BasedOnStyle: LLVM
BreakBeforeBraces: Linux
UseTab: Never
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
AllowShortIfStatementsOnASingleLine: Always
AlignAfterOpenBracket: DontAlign
BreakConstructorInitializers: AfterColon
NamespaceIndentation: None
IndentCaseLabels: true
SortIncludes: Never
