*~
*.orig

.cproject
.project
.settings
.directory
.vscode
.DS_Store
.idea

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt

build*
cmake-build*
Build*
Debug
RelWithDebInfo
MinSizeRel
Release

rtdata/rawtherapee.desktop
rtengine/librtengine.a
rtgui/config.h
rtgui/version.h
rtgui/rawtherapee
rtgui/rawtherapee.exe
install_manifest.txt
AboutThisBuild.txt
clean

*.7z
*.bz
*.bz2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.xz
*.zip
