<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>application-identifier</key>
        <string>com.rawtherapee.rawtherapee</string>
        <key>com.apple.security.temporary-exception.files.absolute-path.read-write</key>
        <array>
            <string>&quot;/&quot;</string>
        </array>
        <key>com.apple.security.cs.allow-dyld-environment-variables</key>
        <true/>
        <key>com.apple.security.files.user-selected.read-write</key>
        <true/>
        <key>com.apple.security.app-sandbox</key>
        <true/>
        <key>com.apple.security.files.downloads.read-write</key>
        <true/>
    </dict>
</plist>
