<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Set this full path to exiftool.exe. Rename exiftool(-k).exe to exiftool.exe before using it here! 
			If you leave the value empty, EXIFTOOL is simply not used. -->
		<add key="ExifToolPath" value="C:\Program Files (x86)\exiftool.exe"/>
	</appSettings>
</configuration>
